*{
    margin: 0px;
    box-sizing: border-box;
    font-family: Roboto;
    font-weight: 400;
    color: #dcdedf;
}

header{
   background-color: #171D25;
   text-align: center;
}

header img{
    width: 15%;
    margin-top: 25px;
    margin-bottom: 25px;
}

body{
    background-color: #1B2939;
}

.profileInput{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.profileInput h2{
    font-size: 2.2em;
    font-weight: 500;
}

.profileInput form input{
    width: 455px;
    height: 50px;
    border-width: 0px;
    border-radius: 6px;
    background-color: #316282;
    padding-left: 10px;
}

.profileInput h3{
    padding-top: 8px;
    font-size: 0.8em;
    text-decoration: underline;
}

.gamePreview{
    text-align: center;
}