@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header {
  background-color: #171d25;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 300px;
}

body {
  background-color: #1b2939;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
}

.profileInput h2 {
  font-size: 2.15em;
  font-weight: 500;
}

#profileForm {
  display: flex;
}

.profileInput form input {
  width: 455px;
  height: 50px;
  border-width: 0px;
  border-radius: 6px;
  background-color: #316282;
  padding-left: 10px;
}

.profileInput form button {
  height: 50px;
  width: 60px;
  background-color: #549cc6;
  border-width: 0px;
  border-radius: 6px;
  margin-left: 5px;
  cursor: pointer;
}

.profileInput form button img {
  transform: translateY(0.05em);
}

.profileInput h3 {
  padding-top: 8px;
  font-size: 0.8em;
  text-decoration: underline;
}

.gamePreview {
  border: 1px solid white;
  padding: 30px;
  background-color: #0E1821;
}

.gamePreview img {
  width: 400px;
  height: 600px;
  object-fit: contain;
}

.gamePreview h2 {
  text-align: center;
  margin-bottom: 15px;
}

.gamePreview h3 {
  text-align: center;
  margin-top: 15px;
}
